{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/reservation.css" %}">
<div class='base-container'>

    {% if form.errors %}
        <div class='error-content'>
            {% for field in form %}
                {% for error in field.errors %}
                    <p> -  {{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class='form-content'>
        <h2 class='form-title'>Створення бронювання</h2>

        <form method='post' id='reservation-form' class='form-body'>{% csrf_token %}
            {% for field in form %}

                {% if field.name == "table" %}
                    <div id="available-tables-container" class="hidden">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    
                    <div id="no-available-tibles-message" class="hidden">
                        Немає доступных столиків, оберіть інший час або дату.
                    </div>
                {% elif field.is_hidden %}
                    {{ field }}
                {% elif field.name == 'reservation_date' %}
                    <div class='form-field'>
                        <label>{{ field.label }}</label>  {{ field }}
                    </div>
                {% elif field.name == "reservation_time" %}
                        <div class="form-field">
                            <label>{{ field.label }}</label> {{ field }}

                            <div id="no-available-times-message" class="hidden">
                                Відсутній доступний час,оберіть іншу дату.
                            </div>
                        </div>
                {% else %}
                    <div class="form-field">
                        <label>{{ field.label }}</label> {{ field }}
                    </div>
                {% endif %}

            {% endfor %}
            <div class='button-container'>
                <button type='submit' class='submit-btn'>Зберегти</button>
            </div>
        </form>
    </div>
        
</div>

<script src="{% static "js/date-input-fix.js" %}"></script>
<script src="{% static "js/get_available_times.js" %}"></script>
<script src="{% static "js/get_available_tables.js" %}"></script>
<script src="{% static "js/reservation_form_opacity.js" %}"></script>
{% endblock %}