html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F5F0E4;
    min-height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B8A890;
    min-height: 56px;
}

.base-links-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 3px 40px;
    align-items: center;
    justify-content: space-between;
}

.home-page-container {
    display: flex;
    align-items: center;
}

.home-page-container a {
    color: #4D4631;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.6s ease;
}

.home-page-container a:hover {
    color: #ffffff;
}

.base-links {
    display: flex;
    align-items: center;
}

.base-links ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.base-links a {
    color: #4D4631;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.6s ease;
}

.base-links a:hover {
    color: #f5f5f5;
}

.hidden {
    display: none;
}

/* Стили для footer */
footer {
    background-color: #B8A890; /* Цвет фона */
    color: #4D4631; /* Цвет текста */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 5px 5px;
    box-sizing: border-box;
    text-align: center;
    margin-top: auto; /* Это гарантирует, что футер всегда будет внизу */
}

.footer-container {
    display: flex; /* Flexbox для выравнивания содержимого */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: space-between; /* Пространство между блоками */
    max-width: 1200px; /* Максимальная ширина */
    margin: 0 auto; /* Центрирование footer */
}

.footer-image-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.footer-image-container img {
    max-height: 24px; /* Ограничение высоты изображения */
}

.footer-content-container {
    text-align: right; /* Текст выравнивается справа */
}

.footer-content-container a {
    color: #4D4631; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

.footer-content-container a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

@media (max-width: 450px) {
    .base-links a {
        font-size: 14px;
    }

    .footer-image-container label{
        display: none;
    }

    .base-links-container {
        padding: 3px 15px;
    }
}

/* Бургер */
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 1.5px;
    background-color: white;
    transition: transform 0.3s;
}

/* Боковая панель (sidebar) для мобильных устройств */
.sidebar {
    position: fixed;
    top: 0;
    left: -3000px; /* Скрыта за пределами экрана */
    width: 200px;
    height: 100%;
    background-color: #CDBDA3;
    color: #4D4631;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #4D4631;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: black
}

/* Скрытие обычных ссылок на мобильных устройствах */
@media (max-width: 768px) {
    .base-links {
        display: none;
    }

    /* Показ боковой панели на мобильных устройствах */
    .sidebar.active {
        left: 0; /* Показываем панель */
        z-index: 9999;
    }

    /* Для бургер-меню */
    .burger {
        display: flex;
    }
}