.base-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-content {
    box-sizing: border-box;
    display: flex;
    margin: 0px auto;
    margin-top: 5px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid burlywood;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.filter-main-body {
    display: flex;
    gap: 10px;
}

.form-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.form-content input[type=text] {
    height: 22px;
    border-radius: 12px;
    padding: 0px 5px;
    margin: 0px;
}

select {
    height: 26px;
    border-radius: 12px;
    padding: 0px 5px;
    margin: 0;
}

.filter-btn {
    background-color: black;
    color: white;
    border: 1.5px solid white;
    border-radius: 14px;
    font-size: 16px;
    min-width: 168px;
    max-width: 210px;
    transition: color 0.5s ease, background-color 0.4s ease;
}

.filter-btn:hover {
    color: black;
    background-color: white;
}

.menu-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* карточки будут автоматически занимать доступное место */
    grid-gap: 10px 40px;
    width: 100%; /* изменил на 100% */
    max-width: 800px; /* максимальная ширина, если необходимо */
    margin: 10px auto;
    padding: 20px;
    border: 0.3px solid burlywood;
    border-radius: 14px;
    justify-content: center;
}

.menu-none-header {
    --index: calc(1vh + 1vw);
    margin: 0px auto;
    margin-top: 50px;
    font-size: calc(var(--index) * 1.75);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-link {
    display: flex;
    text-decoration: none;
    height: 90%;
}

.product-link:hover .product{
    transform: scale(1.05);
    color: azure;
    transition: transform 0.3s ease, color 0.5s ease;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: bisque;
    max-width: 100%; /* позволяет карточкам уменьшаться по размеру */
    width: 100%;
    height: 420px;
    margin-bottom: 40px;
    border: 1.5px solid black;
    border-radius: 12px;
}

.product-image {
    display: flex;
    max-width: 100%;
    max-height: 240px;
}

.product img{
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 12px;
}

.product-context {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: start;
    padding: 10px 20px;
    font-size: 18px;
}

.product-context p {
    margin: 8px;
}

/* Стили пагинации */
.pagination {
    display: flex;
    width: 100%;
    margin-top: auto; /* Это гарантирует, что футер всегда будет внизу */
    align-items: center;
}

.step-links {
    display: flex;
    margin: 10px auto;
    align-items: center;
}

.step-links li{
    list-style-type: none;
}

.text-link {
    display: flex;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 18px;
    text-decoration: none;
    height: 38px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    padding: 0px 4px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.text-link:hover {
    color: white;
    background-color: black;
}

.text-link-next, .text-link-preview {
    display: flex;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 18px;
    text-decoration: none;
    height: 38px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    padding: 0px 4px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
}


.text-link-next:hover, .text-link-preview:hover {
    color: white;
    background-color: black;
}


.page-text-links {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 5px;
    height: 38px;
    margin: 0px 5px;
}

.page-number-container {
    display: flex;
    border: 1px solid black;
    padding: 0px;
    border-radius: 4px;
}

.page-item {
    padding: 5px 6px;
    
}

.page-item.active{
    background-color: rgb(0, 0, 0) !important;
}

.page-item:hover {
    background-color: black;
    color: white !important;
}

.page-number {
    font-size: 22px !important;
    color: rgb(0, 0, 0);
    border: none !important;
    text-decoration: none;
    padding: 5px 6px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.page-number:hover{
    color: white;
    background-color: black;
}

.page-number.active {
    background-color: black;
    color: white !important;
}

@media (max-width: 580px) {
    .menu-container {
        padding: 20px 50px;
        grid-gap: 10px 15px;
    }

    .product {
        margin-bottom: 15px;
    }

    .form-content {
        padding: 0px 40px;
    }

    .filter-main-body {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    .form-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filter-btn {
        padding: 12px 9px;
    }
}

@media (max-width: 450px) {
    .menu-container {
        padding: 20px;
    }
}