{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/homepagetest.css" %}">
<link rel="stylesheet" href="{% static "css/swiper-bundle.min.css" %}" />
        <script src="{% static "js/swiper-bundle.min.js" %}"></script>

<div class="hero-block">
    <div class='hero-block__info'>
        <h2>Аромат, который объединяет</h2>  
        <p>У нас каждое утро начинается с обжарки свежих зерен и теплых улыбок. Попробуйте авторские рецепты кофе, созданные бариста-виртуозами, и десерты ручной работы. Погрузитесь в атмосферу живых разговоров и уюта, где время замедляет свой бег.</p>
        <a href="{% url "coffeehouses:menu_page" %}">Меню</a>
    </div>
</div>


<div class='swiper-block'>
    <p class='swiper_block__preview'>Різноманітні аромати</p>

    <!-- Slider main container -->
    <div class="swiper slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
             {% for product in products %}
                <div class="swiper-slide slide">
                    <div class='slide-item'>
                        {% if product.image %}
                            <img src="{{ product.image.url}}">
                        {% endif %}
                        <div id="productId">
                            <div class='product__name_description'>
                                <p>{{ product.name }}</p>
                                <p>{{ product.description|truncatechars:80 }}</p>
                            </div>
                            <div class='product__price'>
                                <p>Ціна {{ product.price }}грн</p>

                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
            
        </div>  
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<div class='navigation-block'>
    <p class='navigation-block-title'>Бронювання столиків легко та зручно</p>

    <div class="navigation-block__map" data-url="{% url "coffeehouses:coffee_map" %}">
        <p class='map-title'>Знайти на мапі</p>
        <img src="{% static "images/map_intro.png" %}" class="map-intro">
        <img src="{% static "icons/mark_map.png" %}" class='mark-map'>
    </div>

    <div class="navigation-block__info">
        <div class="navigation__info-first" data-url="{% if user.is_authenticated %}{% url "users:profile" %}{% else %}{% url "coffeehouses:search_number_page" %}{% endif %}">
            <img src="{% static "icons/search_reservations.png" %}" class="navigation__info-search-img">
            <p>Пошук бронювання</p>
        </div>

        <div class="navigation__info-second" data-url="{% url 'orders:reservation' %}">
            <img src="{% static "icons/plus_reservation.png" %}" class="navigation__info-plus-img">
            <p>Створити бронювання</p>
        </div>
    </div>


</div>

<script src="{% static "js/navigation_block_mobile.js" %}"></script>
<script src="{% static "js/plus_reservation.js" %}"></script>
<script src="{% static "js/reservation_search.js" %}"></script>
<script src="{% static "js/map_element.js" %}"></script>
<script src="{% static "js/show_overlay_products.js" %}"></script>
<script src="{% static "js/swiper.js" %}"></script>
<script src="{% static "js/phone_slides_style.js" %}"></script>
{% endblock %}