{% extends "base.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static "css/homepage.css" %}">

    <div class='base-container'>
        <div class='content-container'>
            <a href="{% url "orders:index" %}">Стартовая страничка заказов</a>
            
            <a href="{% url "orders:reservation" %}">Оставить резервацию</a>
            
            <a href="{% url "coffeehouses:coffee_map" %}">Карта магазинов</a>
        </div>
    </div>
{% endblock %}