{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта кофеен</title>
    <link rel="stylesheet" href="{% static "css/map_coffeehouses.css" %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    {% comment %} <style>
        #map {
            height: 500px; /* Высота карты */
            width: 80%;   /* Ширина карты */
        }
    </style> {% endcomment %}
</head>
<body>
<div style='display: none;' data-coffeeshops="{{ coffee_shops }}" id="datahouse"></div>

<div class="base-container">

    <div class="base-block">
        <div class="search-container">
            <h3>Пошук Кав'ярні</h3>
            <form id="search-form">
                <input type="text" name="address-coffeehouse" id="search-coffeehouse" placeholder="Введіть адрессу кав'ярні">
                <button id="search-button" type="submit">Пошук</button>
            </form>
        </div>

        <div class="search-coffeehouses">

        </div>

        <div class="recomend-coffeehouses">
            <h3>Рекомендації для вас:</h3>
            {% for item in coffeehouses %}
            <div class="recomend-item" data-id="{{ item.id }}">
                <div class="recomend-item__img">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="Кав'ярня {{ item.name }}" id='coffeehouse-image'>
                    {% endif %}
                </div>
                <div class="recomend-item__info">
                    <div class="recomend-item__info__address">
                        <p>Адресса:</p>
                        <p>{{ item.address }}</p>
                    </div>
                    
                    <p>Графік роботи:  {{ item.opening_time }} - {{ item.closing_time }}</p>
                    <p>Вихідні: Суббота|Неділя</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class='map-container'>
        <div id="map"></div>
    </div>
    
</div>

<script src="{% static "js/coffeehouse_map.js" %}"></script>
</body>
{% endblock %}
