{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/profile.css" %}">
<div class='base-container'>
    <div class='left-column'>
        <div class='profile-container'>
            <h2>Профіль:</h2>
            <p>Ваше ім'я - {{ user.username }}</p>
            <p>Ваш номер телефону - {{ user.phone }}</p>
            <a href="{% url "users:logout" %}" class='out-link'>Вийти з аккаунту</a>
        </div>
        {% if actual_reservations %}
        <div class="active-reservation">
            <h2>Актуальні резервації:</h2>
            {% for item in actual_reservations %}
            <div class='reservation-item'>
                <p>Кав'ярня - {{ item.coffeehouse }}</p>
                <p>Дата - {{ item.reservation_date }}</p>
                <p>Час резервації - {{ item.reservation_time }}</p>
                <p>Статус - {{ item.get_status }}</p>
                <a href="#" class='delete-reservation-link' data-reservation-id="{{ item.id }}">
                    <img src="{% static "images/delete_bucket.jpg" %}" alt="">
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class='reservation-content'>
        <h2>Історія резервацій:</h2>
        {% for item in  reservations %}
            <div class='reservation-item'>
                <p>Кав'ярня - {{ item.coffeehouse }}</p>
                <p>Дата - {{ item.reservation_date }}</p>
                <p>Час резервації - {{ item.reservation_time }}</p>
                <p>Статус - {{ item.get_status }}</p>            
            </div>
        {% endfor %}
        <a href="{% url "users:reservation_history" %}" class='history-link'>Історія бронювань</a>
        </div>
</div>

<!-- Всплывающее окно -->
<div id="deleteModal" class="modal" style="display: none;">
    <div class="modal-content">
        <h2>Ви впевненні що бажаєте відмінити резервацію ?</h2>
        <form id="deleteForm" method="post">
            {% csrf_token %}
            <button type="submit" class="confirm-btn">Відмінити</button>
            <button type="button" class="cancel-btn">Назад</button>
        </form>
    </div>
</div>

<script src="{% static 'js/delete_reservation.js' %}"></script>
{% endblock %}