{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/user_history.css" %}">

    <div class='base-container'>
        <div class='reservation-content'>
            {% for item in reservations %}
            <div class='reservation-item'>
                <p>Кав'ярня - {{ item.coffeehouse }}</p>
                <p>Дата - {{ item.reservation_date }}</p>
                <p>Час резервації - {{ item.reservation_time }}</p>
            </div>
            {% endfor %}
        </div>

        <div class='filter-content'>
            <!-- Форма фильтрации -->
            <form method="get" class='filter-form-content'>
                <h2>Фільтри</h2>

                <!-- Чекбоксы для фильтрации -->
                <label for="is_active">
                    <input type="checkbox" name="is_active" value="true" {% if request.GET.is_active == 'true' %}checked{% endif %}>
                    Актуальні
                </label>
                
                <label for="is_cafe">
                    <input type="checkbox" name="is_cafe" value="true" {% if request.GET.is_cafe == 'true' %}checked{% endif %}>
                    Кав'ярні
                </label>
            
                <!-- Сортировка -->
                <label for="sort_by">Сортувати по:</label>
                <select name="sort_by">
                    <option value="default" {% if request.GET.sort_by == '' %}selected{% endif %}>по замовчуванню</option>
                    <option value="date" {% if request.GET.sort_by == 'date' %}selected{% endif %}>Дата</option>
                    <option value="time" {% if request.GET.sort_by == 'time' %}selected{% endif %}>Час</option>
                </select>
            
                <button type="submit" class='filter-button'>Застосувати</button>
            </form>
        </div>
    </div>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <div class='page-text-links'>
                <a href="?page=1{% if request.GET.is_active %}&is_active={{ request.GET.is_active }}{% endif %}{% if request.GET.is_cafe %}&is_cafe={{ request.GET.is_cafe }}{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}" class='text-link'>Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.is_active %}&is_active={{ request.GET.is_active }}{% endif %}{% if request.GET.is_cafe %}&is_cafe={{ request.GET.is_cafe }}{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}" class='text-link'>Назад</a>
            </div>
            {% endif %}
    
            <div class='page-number-container'>
                {% for page in page_obj.paginator.page_range %}
                {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                    <a href="?page={{ page }}{% if request.GET.is_active %}&is_active={{ request.GET.is_active }}{% endif %}{% if request.GET.is_cafe %}&is_cafe={{ request.GET.is_cafe }}{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}" {% if page == page_obj.number %} class="page-number active" {% else %} class='page-number'{% endif %}>{{ page }}</a>
                {% endif %}
                {% endfor %}
            </div>
    
            {% if page_obj.has_next %}
            <div class='page-text-links'>
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.is_active %}&is_active={{ request.GET.is_active }}{% endif %}{% if request.GET.is_cafe %}&is_cafe={{ request.GET.is_cafe }}{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}" class='text-link'>Вперёд</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.is_active %}&is_active={{ request.GET.is_active }}{% endif %}{% if request.GET.is_cafe %}&is_cafe={{ request.GET.is_cafe }}{% endif %}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}" class='text-link'>Последняя</a>
            </div>
            {% endif %}
        </span>
    </div>
{% endblock %}