<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.png' %}">
        <title>Домашня сторінка</title>
    </head>
    <body>
        <header>
            <div class='base-links-container'>
                <div class='home-page-container'>
                    <a href="{% url "coffeehouses:index" %}">Головна</a>
                </div>
                
                <nav class="navbar">
                    <div class="burger" id="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    
                    <div class='base-links' id='base-links'>
                        <ul>
                            <li><a href="{% url "coffeehouses:menu_page" %}">Меню</a></li>
                            <li><a href="{% url "coffeehouses:coffee_map" %}">Мапа кав'ярень</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url "users:profile" %}">Профіль</a></li>
                            {% else %}
                            <li><a href="{% url "coffeehouses:search_number_page" %}">Мої бронювання</a></li>
                            <li><a href="{% url "users:login" %}">Увійти</a> | <a href="{% url "users:registration" %}">Зарееструватися</a></li>
                            {% endif %}
                        </ul>
                    </div>

                     <!-- Боковая панель (sidebar) для мобильных устройств -->
                    <div class="sidebar" id="sidebar">
                        <ul>
                            <li><a href="{% url "coffeehouses:menu_page" %}">Меню</a></li>
                            <li><a href="{% url "coffeehouses:coffee_map" %}">Мапа кав'ярень</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url "users:profile" %}">Профіль</a></li>
                            {% else %}
                            <li><a href="{% url "coffeehouses:search_number_page" %}">Мої бронювання</a></li>
                            <li><a href="{% url "users:login" %}">Увійти</a> | <a href="{% url "users:registration" %}">Зарееструватися</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <div class='footer-container'>
                <div class='footer-image-container'>
                    <label>Нащі соц-мережі - </label>
                    <a href="https://www.instagram.com/saymios/"><img src="{% static "icons/instagram.png" %}"></a>
                    <a href="https://t.me/Saymios"><img src="{% static "icons/telegram.webp" %}"></a>
                </div>
                <div class='footer-content-container'>
                    <p>2024 Все права защищены</p>
                </div>
            </div>
        </footer>
        {% comment %} <script src="http://127.0.0.1:35729/livereload.js"></script> {% endcomment %}
        <script>
            // Получаем элементы
            const burger = document.getElementById('burger');
            const sidebar = document.getElementById('sidebar');
            const overlay = document.createElement('div');

            // Создаем затемнение фона
            overlay.className = 'overlay';
            document.body.appendChild(overlay);

            // Обработчик для открытия/закрытия sidebar
            burger.addEventListener('click', () => {
                sidebar.classList.toggle('active');
                overlay.classList.toggle('active');
            });

            // Закрытие sidebar при клике на затемнение
            overlay.addEventListener('click', () => {
                sidebar.classList.remove('active');
                overlay.classList.remove('active');
            });
        </script>
    </body>
</html>