<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.png' %}" >
        <title>Домашня сторінка</title>
    </head>
    
    <header>
        <div class='base-links-container'>
            <div class='home-page-container'>
                <a href="{% url "coffeehouses:index" %}">Головна</a>
            </div>
            
            <div class='base-links'>
                <ul>
                    <li><a href="#">Меню</a></li>
                    <li><a href="#">Мої бронювання</a></li>
                    <li><a href="{% url "coffeehouses:coffee_map" %}">Мапа кав'ярень</a></li>
                    <li><a href="#">Профіль</a></li>
                </ul>
            </div>
        </div>
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>

    <footer>
        <!-- Your footer content -->
    </footer>
</html>