.base-container {
    display: flex;
    flex-direction: column;
}

.content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    color: #FFFF;
    background-color: #000000;
    max-width: 1000px;
    width: 100%;
    margin: 40px auto;
    border-radius: 15px;
    padding: 24px;
    gap: 20px;
}

.base-container a{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: #000000;
    color: #FFFF;
    text-decoration: none;
    border: 1.5px solid #ffffff;
    border-radius: 15px;
    transition: color 1s ease;
}

.base-container a:hover{
    color: #000000;
    background-color: #FFFF;
    border-color: #000000;

}