
.form-block {
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    max-width: 850px;
    width: 100%;
    height: 105px;
    padding: 35px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.form-base {
    display: flex;
    width: 60%;
}

.form-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: auto;
}

.input-phone {
    display: flex;
    width: 100%;
    padding: 10px 16px;
    border-radius: 15px;
    margin-right: 15px;
    font-size: 20px;
}

.search-button {
    padding: 8px 12px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 15px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.search-button:hover {
    color: #FFFF;
    background-color: black;
    border: 1px solid #FFFF;
}

.booking-container {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 15px;
    
}

.reservation-container {
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 20px;
    font-size: 18px;
}