/* Стили для отображения резерваций и фильтров */

.base-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-site {
    display: flex;
    flex: 1;
}

.reservation-content {
    display: flex;
    width: 50%;
    justify-content: start;
    flex-direction: column;
    align-items: end;
    padding: 0;
    padding-right: 20PX;
    box-sizing: border-box;
}

.reservation-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 314px;
    width: 100%;
    background-color: #CDBDA3;
    color: #4D4631;
    font-size: 16px;
    margin: 10px 0px;
    border-radius: 15px;
    padding: 24px;
}

.reservation-item p{
    margin: 5px 0px;
}

.filter-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: start;
    align-items: start;
    padding: 0;
    padding-left: 20px;
}

.filter-form-content {
    display: flex;
    min-width: 250px;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    color: #4D4631;
    background-color: #CDBDA3;
    border: 1.5px solid #4D4631;
    border-radius: 12px;
    padding: 20px;
}

.filter-form-content h2{
    font-size: 18px;
    margin: 0px auto;
    margin-bottom: 10px;
}

.filter-button {
    padding: 8px 10px;
    background-color: #4D4631;
    color:  #f5f5f5;
    font-size: 16px;
    border: 1px solid #4D4631;
    border-radius: 12px;
    margin-top: 5px;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.filter-button:hover {
    color: #4D4631;
    background-color: #CDBDA3;
}

label{
    display: flex;
    align-items: center;
    justify-content: start;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;

    /* Меняем цвет фона */
    background-color: #4D4631;

    /* Меняем цвет бортика */
    border: 2px solid #4D4631;

    /* Скругляем углы */
    border-radius: 4px;

    /* Убираем стандартный стиль браузера */
    appearance: none;
    -webkit-appearance: none;

    /* Позиционируем галочку */
    position: relative;

    margin-right: 10px;
}

/* Стилизация галочки */
input[type="checkbox"]:checked::before {
    content: "✔"; /* Используем символ галочки */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #CDBDA3; /* Цвет галочки */
}



/* Стили пагинации */
.pagination {
    display: flex;
    width: 100%;
}

.step-links {
    display: flex;
    margin: 10px auto;
    align-items: center;
}

.step-links li{
    list-style-type: none;
}

.text-link {
    display: flex;
    color: #4D4631;
    background-color: #CDBDA3;
    font-size: 18px;
    text-decoration: none;
    height: 38px;
    border: 1px solid #4D4631;
    align-items: center;
    text-align: center;
    padding: 0px 4px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.text-link:hover {
    color: #f5f5f5;
    background-color: #4D4631;
}

.text-link-next, .text-link-preview {
    display: flex;
    color: #CDBDA3;
    background-color: #4D4631;
    font-size: 18px;
    text-decoration: none;
    height: 38px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    padding: 0px 4px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
}


.text-link-next:hover, .text-link-preview:hover {
    color: #4D4631;
    background-color: #CDBDA3;
}


.page-text-links {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 5px;
    height: 38px;
    margin: 0px 5px;
}

.page-number-container {
    display: flex;
    border: 1px solid black;
    padding: 0px;
    border-radius: 4px;
}

.page-item {
    padding: 5px 6px;
    
}

.page-item.active{
    background-color: #4D4631 !important;
}

.page-item:hover {
    background-color: black;
    color: white !important;
}

.page-number {
    font-size: 22px !important;
    color: rgb(0, 0, 0);
    border: none !important;
    text-decoration: none;
    padding: 5px 6px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.page-number:hover{
    color: white;
    background-color: #4D4631;
}

.page-number.active {
    background-color: #4D4631;
    color: white !important;
}

@media (max-width: 800px){
    .content-site {
        flex-direction: column;
    }

    .text-link-next, .text-link-preview {
        display: none;
    }

    .filter-form-content {
        width: 272px;
        margin-bottom: 5px;
    }

    .base-container {
        flex-direction: column;
    }

    .reservation-content {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-bottom: 5px;
    }

    .filter-content {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .filter-form-content h2 {
        margin-bottom: 0px;
    }

    .reservation-item {
        margin: 0px;
        margin-bottom: 5px;
    }

    .page-text-links {
        margin: 0px;
    }

    .text-link {
        font-size: 15px;
    }

}